body{
    background-image: url(Landscape.jpg);
    background-size: cover;
}
h1{
    text-align: center;
    color: orange;
}

h2{
    font-size: larger;
    text-align: center;
    color: orange;
    background-color: aliceblue;
}